# Server Port
PORT=3000

# MongoDB URI (MongoDB Atlas or local fallback)
MONGO_URI=mongodb://localhost:27017/pms

# Authentication Secrets
JWT_SECRET=pms_core_jwt_secret_token_signature_key
JWT_REFRESH_SECRET=pms_core_jwt_refresh_token_signature_key

# Redis Configuration (For BullMQ & Socket.IO Adaptor)
REDIS_HOST=localhost
REDIS_PORT=6379

# Cloudinary Storage Configuration
CLOUDINARY_CLOUD_NAME=pms
CLOUDINARY_API_KEY=your_cloudinary_key
CLOUDINARY_API_SECRET=your_cloudinary_secret
